Repository algorandfoundation/ARCs, pull requests merged in 2022-11, with the labels that each got.

#141 ARC-0028 : Events
  ARCs/arc-0028.md
Labels: s-draft, c-new, t-arc

#148 Arc-0008 Update of security consideration for dApps (Waiting Screen)
  ARCs/arc-0008.md
Labels: c-update, t-interface, s-final

#136 ARC-21: add get_closest and must_get_closest methods
  ARCs/arc-0021.md
Labels: s-draft, c-update, t-interface

#146 ARC-28 Events
  ARCs/arc-0028.md
Labels: t-arc, c-status
