Repository algorandfoundation/ARCs, pull requests merged in 2023-11, with the labels that each got.

#257 Update arc34's authors
  ARCs/arc-0034.md
Labels: c-update, t-process

#226 ARC0047: Logic Signature Templates
  ARCs/arc-0047.md
  assets/arc-0047/.gitignore
  assets/arc-0047/bun.lockb
  assets/arc-0047/dapp.ts
  assets/arc-0047/lsig.teal
  assets/arc-0047/package.json
  assets/arc-0047/tsconfig.json
  assets/arc-0047/validate.ts
  assets/arc-0047/wallet.ts
Labels: c-new, t-arc

#245 ARC-54: ASA Burning App
  ARCs/arc-0054.md
Labels: s-draft, c-new, t-arc
