Repository algorandfoundation/ARCs, pull requests merged in 2024-01, with the labels that each got.

#267 ARC-49 Add Disclaimer 2024
  ARCs/arc-0049.md
Labels: c-update, t-process

#260 ARC-54 - Simpler reference contract + TealScript source
  ARCs/arc-0054.md
Labels: s-draft, t-arc, c-update

#275 ARC-54 last call
  ARCs/arc-0054.md
Labels: t-arc, c-status

#268 ARC-34 xGov session 3 updates
  ARCs/arc-0034.md
Labels: c-update, t-process
